# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output data
data/raw/*.csv
data/raw/photos/

# System files
.DS_Store
Thumbs.db

# VSCode or PyCharm settings
.vscode/
.idea/
